* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

.box {
  max-width: 1024px;
}

:root {
  font-size: 10px;
}

body {
  background: #263238;
  color: #555;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  background-color: #ef5350;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #ef5350;
}

.cabecalho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.cabecalho .cabecalho__title {
  font-size: 4rem;
  letter-spacing: 3px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .search__item {
  border: #ff6865 solid 2px;
  border-radius: 20px;
  height: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  text-align-last: left;
  background-color: #ff8b89;
  outline: 0;
}

.search .fa-search {
  width: 3rem;
  position: absolute;
  margin-right: 2px;
  padding: .5rem 0;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  text-align: center;
  right: 0;
  background-color: #3761a8;
  color: aliceblue;
  font-size: 1.5rem;
  -webkit-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.search .fa-search:hover {
  background-color: #5a78ad;
  color: #feca1b;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 2rem 0;
}

.pokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 300px;
  height: 300px;
  margin: 1rem;
  -webkit-box-shadow: 5px 5px 10px #555;
          box-shadow: 5px 5px 10px #555;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  border-radius: 20px;
}

.pokemon .pokemon__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffffff;
}

.pokemon .pokemon__img img {
  margin-top: 20px;
  max-width: 90%;
}

.pokemon .pokemon__name {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 700;
}

.pokemon .pokemon__description {
  text-align: center;
  margin: 0 2rem;
  font-size: 1.7rem;
  line-height: 1.5;
}

.pokemon .pokemon__type {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.pokemon .pokemon__id {
  text-align: center;
  background: white;
  font-size: 1.5rem;
  width: 30px;
  border-radius: 50%;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin-bottom: 2rem;
}

.buttons .previous, .buttons .next {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #3761a8;
  color: #ffffff;
  outline: 0;
  -webkit-transition: background-color .5s ease-in-out, color .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: background-color .5s ease-in-out, color .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out, background-color .5s ease-in-out, color .5s ease-in-out;
  transition: transform .5s ease-in-out, background-color .5s ease-in-out, color .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.buttons .previous:hover, .buttons .next:hover {
  background-color: #feca1b;
  color: #555;
}

.footer {
  margin: 0 auto;
}

.footer .footer__text {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .cabecalho {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .buttons {
    width: 90%;
  }
}

.cabecalho .cabecalho__title, .footer .footer__text {
  font-family: 'Anton', sans-serif;
  color: #feca1b;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #3761a8;
}

.pokemon:hover, .buttons .previous:hover, .buttons .next:hover {
  -webkit-transform: translateY(-2px) scale(1.01);
          transform: translateY(-2px) scale(1.01);
}
/*# sourceMappingURL=style.css.map */