
////////// CSS STYlE
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.box {
    max-width: 1024px;
}

:root {
    font-size: 10px;
}

body {
    background: #263238;
    color: #555;
}

main{
    display: flex;
    flex-direction: column;
    align-items:  center;
}

header {
    background-color: #ef5350;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #ef5350;
}


//Imports SCSS

@import 'sass/main';
@import 'sass/variaveis';
