.title {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 1rem;
    box-shadow: 1px 1px 2px 2px black;
    cursor: pointer;
    transition: transform .5s ease-out;
    
    .pokemon__name {
        font-size: 2rem;
        text-transform: capitalize;
    }
    &:hover {
        box-shadow: 2px 2px 2px 2px #333333;
        transform: scale(1.02);
    }
}

.wrapper__footer__text{
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
}