.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .cabecalho__title {
        font-size: 4rem;
        letter-spacing: 3px;
        @extend %font-poke;
    }
}

.search {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    .search__item {
        border: #ff6865 solid 2px;
        border-radius: 20px;
        height: 2.5rem;
        font-size: 1.5rem;
        text-align: center;
        text-align-last: left;
        background-color:#ff8b89;
        outline: 0;
    }
    .fa-search{
        width: 3rem;
        position: absolute;
        margin-right: 2px;
        padding: .5rem 0;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
        text-align: center;
        right: 0;
        background-color: #3761a8;
        color: aliceblue;
        font-size: 1.5rem;
        transition: background-color .5s ease-out;

        &:hover {
            background-color: #5a78ad;
            color: #feca1b;
        }
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 2rem 0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 300px;
    height: 300px;
    margin: 1rem;
    box-shadow: 5px 5px 10px #555;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    border-radius: 20px; 

    &:hover {
        @extend %effect-default
    }
    .pokemon__img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #ffffff;

        img {
            margin-top: 20px;
            max-width: 90%;
        }
    }
    
    .pokemon__name {
        font-size: 2.5rem;
        text-transform: capitalize;
        font-weight: 700;
    }
    .pokemon__description {
        text-align: center;
        margin: 0 2rem;
        font-size: 1.7rem;
        line-height: 1.5;
    }
    .pokemon__type{
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    .pokemon__id {
        text-align: center;
        background: white;
        font-size: 1.5rem;
        width: 30px;
        border-radius: 50%;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 2rem;

    .previous , .next {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        width: 100px;
        height: 30px;
        border-radius: 20px;
        border: none;
        background-color: #3761a8;
        color: #ffffff;
        outline: 0;
        transition: transform .5s ease-in-out, background-color .5s ease-in-out, color .5s ease-in-out;
    
        &:hover {
            @extend %effect-default;
            background-color: #feca1b;
            color: #555;
        }
    }
}

.footer {
    margin: 0 auto;

    .footer__text{
    @extend %font-poke;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
    }
}

//Media 

@media (max-width: 768px){
    .cabecalho {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .buttons {
        width: 90%;
    }
    
}
